{% extends 'layout.html' %}

{% block content %}
    <!-- <img src="{% static 'images/img1.jpg' %}" alt=""> -->
    <p>Vi dois homens caçando essas aves na Praça Laurindo de Camargo e quando as pessoas 
        acabaram indagando os mesmos para que fim seriam as aves, os mesmos fugiram e desapareceram. 
        Porém, hoje de manhã novamente na mesma Praça um morador deu de cara com os mesmos homens e 
        de novo com um carrinho de mão e uma grande gaiola feita de palha”, denunciou o internauta, 
        no dia 28 de julho.</p>
{% endblock %}